* {
    margin: 0px;
    padding: 0px;
}

.main {
    text-align: center;
}

.tagline {
    margin: 20px 0 0 0;
    font-size: 24px;
}

.title {
    margin: 20px 0 0 0;
    font-size: 64px;
}

.demo {
    margin: 20px 0 0 0;
}

#search-container {
    position: relative;
}

#search-container input {
    padding: 5px;
    font-size: 1.2em;
    width: 200px;
}

#search {
    position: relative;
    color: #000;
    z-index: 10;
    border: 1px solid #666;
    background: transparent;
}
