* {
    margin: 0px;
    padding: 0px;    
    letter-spacing: 1px;
    font-family: Helvetica;
}
html {
    font-size: 16px;    
}
body {
    background-color: lightgray;
}
.main {
    text-align: center;
}
.title {
    margin: 20px 0 0 0;
    font-size: 3rem;
}
.description {
    font-size: 1rem;
    margin-top: 25px;
    font-weight: bold;
}
.demo {
    margin: 60px 0 0 0;
}
#search-container {
    position: relative;
}
#search-container input {
    padding: 5px;
    font-size: 1.2em;
    width: 500px;
}
#search {
    position: relative;
    outline: none;
    color: #000;
    z-index: 10;
    border: 8px solid #757575;    
}
#autocomplete-menu {
    margin-top: 0px;
    text-align: center;
    padding: 0px 100px 0px 100px;
}
.project {
    margin-top: 25px;    
}
a {
    color: #000;
    font-weight: bold;
    text-decoration: none;    
}