* {
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
body {
    background-image: linear-gradient( to left, #2A245F, #2a356c );
    color: #e0e0e0;
}
.app-container {
    margin: 5vh auto;
    max-width: 600px;
}
.main {
    text-align: center;
}
.title {
    margin-top: 20px;
    font-size: 3rem;
}
.description {
    font-size: 1rem;
    margin-top: 25px;
    font-weight: bold;
}
.demo {
    margin: 60px auto;
}
#search-container input {
    padding: 15px 25px;
    font-size: 1.2em;
    width: 100%;
    background-color: #fafafa;
}
.profile-card {
    position: relative;    
}
.autocomplete-menu:hover {
    transform: translateY(5);
}
.autocomplete-menu {
    margin: 20px auto;
    min-height: 110px;
    background-image: linear-gradient(to left, #35286f, #2e2969);
    border-radius: 3%;
    box-shadow: 0 1px 17px 0 rgba(95, 207, 128, 0.1), 0 31px 40px 0 rgba(0, 0, 0, 0.07);
    transition: all 0.3s ease
}
.img-circle {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 30px;
    left: 20px;    
}
.image-holder {
    display: inline;
}
.user {
    display: inline-block;
    margin: 20px 100px;
}
.details {
    display: inline-block;
    margin: 20px 150px;
}
a {
    color: #e0e0e0;
    text-decoration: none;
}
.btn {
    display: inline-block;
    margin-top: 150px;
    position: relative;
    left: 575px;
    height: 50px;
    width: 150px;
    cursor: pointer;
    padding-top: 12px;
    background-color: #757575;
    border-radius: 10px;
}
.extra-info {
    margin-right: 5px;
}